flows.json
[{"id":"35eff90d.7e3136","type":"tab","label":"Controller","disabled":false,"info":""},{"id":"a1390874.1c5c3","type":"tab","label":"Data","disabled":false,"info":""},{"id":"c0a7ecce.4f8ae8","type":"tab","label":"Wifi","disabled":true,"info":""},{"id":"7575feff.9ea748","type":"tab","label":"Testing","disabled":true,"info":""},{"id":"13777501.a49f1b","type":"ui_group","z":"","name":"Sistema","tab":"","disp":true,"width":"6","collapse":false},{"id":"311e598e.414d8e","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#004a82","baseFont":"Tahoma,Geneva,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#004a82","edited":true},"page-titlebar-backgroundColor":{"value":"#004a82","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0076ce","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#004a82","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"Tahoma,Geneva,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Pump Controller","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":40,"sy":40,"gx":6,"gy":6,"cx":15,"cy":15,"px":6,"py":6}}},{"id":"6778c034.f170c","type":"ui_group","z":"","name":"Bomba 1","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"143ea6b6.ddf569","type":"ui_group","z":"","name":"Bomba 2","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"186bb339.e26e3d","type":"ui_group","z":"","name":"Credenciales","tab":"","order":1,"disp":true,"width":"7","collapse":true},{"id":"cf75671.567c318","type":"ui_group","name":"Group 2","tab":"","order":2,"disp":true,"width":6},{"id":"8c7aadcf.d9c0c8","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"public.cer","keyname":"privatekey.pem","caname":"csr.pem","servername":"","verifyservercert":false},{"id":"2be91022.6a8688","type":"mqtt-broker","z":"","name":"IoT-Autom","broker":"IoT-Autom.azure-devices.net","port":"8883","clientid":"nodered","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"f8070602.ee2028","type":"ui_tab","z":"","name":"Dashboard","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"8475b52b.3a6c88","type":"mqtt-broker","z":"","name":"","broker":"http://controlador-bombas.eastus.cloudapp.azure.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"d3f96434.b74288","type":"ui_group","z":"","name":"Pressure","tab":"f8070602.ee2028","order":1,"disp":true,"width":"6","collapse":false},{"id":"8677ec27.39c99","type":"ui_group","z":"","name":"Alerts","tab":"f8070602.ee2028","order":3,"disp":true,"width":"6","collapse":false},{"id":"86f0f7c0.3c2568","type":"ui_group","z":"","name":"Boost Control","tab":"f8070602.ee2028","order":5,"disp":true,"width":"6","collapse":false},{"id":"28cc5a36.da1f26","type":"influxdb","z":"","hostname":"controlador-bombas.eastus.cloudapp.azure.com","port":"8086","protocol":"http","database":"controlador","name":"","usetls":false,"tls":"8c7aadcf.d9c0c8"},{"id":"36353101.b092d6","type":"ui_group","z":"","name":"Cycle","tab":"16a571df.4147e6","order":4,"disp":true,"width":"12","collapse":true},{"id":"16a571df.4147e6","type":"ui_tab","z":"","name":"Data","icon":"fa-database","order":3,"disabled":false,"hidden":false},{"id":"4907654d.92638c","type":"ui_group","z":"","name":"Pump Frequency","tab":"16a571df.4147e6","order":3,"disp":true,"width":"12","collapse":true},{"id":"88b50d63.5fea7","type":"ui_group","z":"","name":"Settings","tab":"f8070602.ee2028","order":2,"disp":true,"width":"6","collapse":false},{"id":"6e2654b6.7eb974","type":"ui_tab","z":"","name":"Wifi","icon":"wifi","order":2,"disabled":false,"hidden":false},{"id":"5eb43b0c.f233cc","type":"ui_group","z":"","name":"AP","tab":"6e2654b6.7eb974","order":1,"disp":false,"width":8,"collapse":false},{"id":"5f099a12.d045cc","type":"ui_group","z":"","name":"Consumption","tab":"16a571df.4147e6","order":5,"disp":true,"width":"12","collapse":false},{"id":"eb1f98d4.80c97","type":"ui_group","z":"","name":"Pressure","tab":"16a571df.4147e6","order":1,"disp":true,"width":"12","collapse":true},{"id":"b45e60da.990578","type":"ui_group","z":"","name":"Specify a period","tab":"16a571df.4147e6","order":2,"disp":true,"width":"12","collapse":false},{"id":"fd62f529.c746d8","type":"mqtt in","z":"35eff90d.7e3136","name":"","topic":"30AEA4180928/monitor/status","qos":"0","datatype":"json","broker":"8475b52b.3a6c88","x":140,"y":260,"wires":[["82a6d99c.195f38","4638c8ac.856a8","32feab14.315494"]]},{"id":"5ec7f63e.a31b28","type":"ui_gauge","z":"35eff90d.7e3136","name":"Presión Actual","group":"d3f96434.b74288","order":1,"width":0,"height":0,"gtype":"gage","title":"","label":"psi","format":"{{value}}","min":0,"max":"100","colors":["#b50000","#e6b100","#5bee5f"],"seg1":"20","seg2":"30","x":640,"y":40,"wires":[]},{"id":"871be912.3e0508","type":"ui_chart","z":"35eff90d.7e3136","name":"Historico","group":"d3f96434.b74288","order":2,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":620,"y":80,"wires":[[]]},{"id":"32feab14.315494","type":"function","z":"35eff90d.7e3136","name":"Parse","func":"var currentPress = {payload:msg.payload.currentPress};\nvar hidrocapitalAlert = {payload:mapAlert(msg.payload.hidrocapitalAlert)};\nvar highPressAlert = {payload:mapAlert(msg.payload.HighPressAlert)};\nvar lowPressAlert = {payload:mapAlert(msg.payload.lowPressAlert)};\nvar totalFailAlert = {payload:mapTotalFailure(msg.payload.totalFailAlert)};\nvar counterPump1Fail = {payload:msg.payload.counterPump1Fail};\nvar counterPump2Fail = {payload:msg.payload.counterPump2Fail};\nvar setpoint = {payload:msg.payload.setpoint};\nvar deadband = {payload:msg.payload.deadband};\nvar timeDelay = {payload:msg.payload.timeDelay};\nvar timeToStart = {payload:msg.payload.timeToStart};\nvar faultResetTime = {payload:msg.payload.faultResetTime};\nvar selector1 = {payload:mapSelector(msg.payload.selector1)};\nvar power1 = {payload:mapPump(msg.payload.power1)};\nvar fs1 = {payload:msg.payload.fs1};\nvar selector2 = {payload:mapSelector(msg.payload.selector2)};\nvar power2 = {payload:mapPump(msg.payload.power2)};\nvar fs2 = {payload:msg.payload.fs2};\n\nreturn [currentPress,hidrocapitalAlert,highPressAlert,\n        lowPressAlert,totalFailAlert,counterPump1Fail,\n        counterPump2Fail, setpoint, deadband,\n        timeDelay, timeToStart, faultResetTime,\n        selector1, power1, fs1, selector2, power2, fs2];\n        \n\nfunction mapAlert(alert) {\n    if(alert){\n        return \"Alert\";\n    }\n    else{\n        return \"\";\n    }\n}\nfunction mapTotalFailure(fault) {\n    if(fault){\n        return \"Total Failure\";\n    }\n    else{\n        return \"\";\n    }\n}\nfunction mapSelector(selector) {\n    switch(selector){\n        case 0: \n            return \"OFF\";\n        case 1:\n            return \"ON\";\n        case 2:\n            return \"REM\";\n        default:\n            return \"\";\n    }\n}\nfunction mapPump(pump) {\n    if(pump){\n        return \"ON\";\n    }\n    else{\n        return \"OFF\";\n    }\n}","outputs":18,"noerr":0,"x":370,"y":160,"wires":[["5ec7f63e.a31b28","871be912.3e0508"],["3078c26b.1c30fe"],["b34d000d.06034"],["f01ba72.f085e58"],["b367ef33.c0d68"],["a3ca3e99.718ec8"],["965384c3.608e5"],["8259c657.a67ba8"],["e5a51e71.4e4fc"],["7319ffce.c2e08"],["d536c990.3818b8"],["4b270ce2.dee60c"],["3ad3d181.e27a86"],["9e76c87.249b238"],[],["74b17bf.83e4c84"],["1b881a32.f176fe"],[]]},{"id":"3078c26b.1c30fe","type":"ui_text","z":"35eff90d.7e3136","group":"8677ec27.39c99","order":1,"width":0,"height":0,"name":"","label":"Hidrocapital","format":"{{msg.payload}}","layout":"row-spread","x":630,"y":120,"wires":[]},{"id":"b34d000d.06034","type":"ui_text","z":"35eff90d.7e3136","group":"8677ec27.39c99","order":2,"width":0,"height":0,"name":"","label":"High Press","format":"{{msg.payload}}","layout":"row-spread","x":630,"y":160,"wires":[]},{"id":"f01ba72.f085e58","type":"ui_text","z":"35eff90d.7e3136","group":"8677ec27.39c99","order":3,"width":0,"height":0,"name":"","label":"Low Press","format":"{{msg.payload}}","layout":"row-spread","x":630,"y":200,"wires":[]},{"id":"8259c657.a67ba8","type":"ui_text","z":"35eff90d.7e3136","group":"88b50d63.5fea7","order":1,"width":0,"height":0,"name":"","label":"Setpoint","format":"{{msg.payload}} psi","layout":"row-spread","x":820,"y":120,"wires":[]},{"id":"e5a51e71.4e4fc","type":"ui_text","z":"35eff90d.7e3136","group":"88b50d63.5fea7","order":2,"width":0,"height":0,"name":"","label":"Deadband","format":"{{msg.payload}} psi","layout":"row-spread","x":830,"y":160,"wires":[]},{"id":"82a6d99c.195f38","type":"debug","z":"35eff90d.7e3136","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":390,"y":320,"wires":[]},{"id":"7319ffce.c2e08","type":"ui_text","z":"35eff90d.7e3136","group":"88b50d63.5fea7","order":3,"width":0,"height":0,"name":"","label":"Time Delay","format":"{{msg.payload}} sec","layout":"row-spread","x":830,"y":200,"wires":[]},{"id":"d536c990.3818b8","type":"ui_text","z":"35eff90d.7e3136","group":"88b50d63.5fea7","order":4,"width":0,"height":0,"name":"","label":"Time To Start","format":"{{msg.payload}} sec","layout":"row-spread","x":830,"y":240,"wires":[]},{"id":"4b270ce2.dee60c","type":"ui_text","z":"35eff90d.7e3136","group":"88b50d63.5fea7","order":5,"width":0,"height":0,"name":"","label":"Fault Reset Time","format":"{{msg.payload}} min","layout":"row-spread","x":1050,"y":40,"wires":[]},{"id":"4638c8ac.856a8","type":"influxdb out","z":"35eff90d.7e3136","influxdb":"28cc5a36.da1f26","name":"Guarda en DB status","measurement":"status","precision":"n","retentionPolicy":"","x":420,"y":360,"wires":[]},{"id":"e799d28b.859d2","type":"function","z":"35eff90d.7e3136","name":"Save boost slider time","func":"//Guarda Boost Time Slider\nflow.set('boostTime', msg.payload);","outputs":1,"noerr":0,"x":440,"y":520,"wires":[[]]},{"id":"9f970f85.c51f1","type":"ui_slider","z":"35eff90d.7e3136","name":"","label":"Boost Time","tooltip":"","group":"86f0f7c0.3c2568","order":2,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":"1","max":"30","step":1,"x":190,"y":520,"wires":[["e799d28b.859d2"]]},{"id":"1451dfb7.829168","type":"ui_button","z":"35eff90d.7e3136","name":"","group":"86f0f7c0.3c2568","order":3,"width":"3","height":"1","passthru":false,"label":"Start Boost","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":190,"y":580,"wires":[["8033da5a.4a0f4"]]},{"id":"8033da5a.4a0f4","type":"function","z":"35eff90d.7e3136","name":"Mqtt boost msg ","func":"var boostTime = flow.get('boostTime') || 1;\nmsg.payload = boostTime;\nmsg.topic = \"30AEA4180928/control/boost\"\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":580,"wires":[["6fb07dea.34e31c"]]},{"id":"6fb07dea.34e31c","type":"mqtt out","z":"35eff90d.7e3136","name":"MQTT BOOST","topic":"","qos":"","retain":"","broker":"8475b52b.3a6c88","x":640,"y":580,"wires":[]},{"id":"76cae467.94f984","type":"ui_button","z":"35eff90d.7e3136","name":"","group":"86f0f7c0.3c2568","order":4,"width":"3","height":"1","passthru":false,"label":"Stop Boost","tooltip":"","color":"","bgcolor":"red","icon":"","payload":"","payloadType":"str","topic":"","x":190,"y":640,"wires":[["159f1937.69f07f"]]},{"id":"159f1937.69f07f","type":"function","z":"35eff90d.7e3136","name":"Mqtt boost msg ","func":"msg.payload = 0;\nmsg.topic = \"30AEA4180928/control/boost\"\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":640,"wires":[["6fb07dea.34e31c"]]},{"id":"106c8b0f.c35285","type":"mqtt in","z":"35eff90d.7e3136","name":"MQTT boost state","topic":"30AEA4180928/monitor/boost","qos":"2","datatype":"json","broker":"8475b52b.3a6c88","x":210,"y":460,"wires":[["f77a117a.1d589"]]},{"id":"f77a117a.1d589","type":"function","z":"35eff90d.7e3136","name":"parse state","func":"msg.payload = msg.payload.state;\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":460,"wires":[["24edd994.ca697e"]]},{"id":"24edd994.ca697e","type":"ui_switch","z":"35eff90d.7e3136","name":"","label":"State","tooltip":"","group":"86f0f7c0.3c2568","order":1,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":610,"y":460,"wires":[[]]},{"id":"92d4de0e.b13738","type":"ui_form","z":"c0a7ecce.4f8ae8","name":"wifi form","label":"","group":"5eb43b0c.f233cc","order":1,"width":"0","height":"0","options":[{"label":"SSID","value":"ssid","type":"text","required":true,"rows":null},{"label":"Password","value":"password","type":"password","required":true,"rows":null}],"formValue":{"ssid":"","password":""},"payload":"","submit":"Submit","cancel":"Delete","topic":"","x":420,"y":80,"wires":[[]]},{"id":"6e10c8f7.f14f68","type":"mqtt out","z":"c0a7ecce.4f8ae8","name":"","topic":"30AEA4180928/control/wifi","qos":"","retain":"","broker":"8475b52b.3a6c88","x":660,"y":80,"wires":[]},{"id":"7342ee4f.e1d53","type":"influxdb in","z":"7575feff.9ea748","influxdb":"28cc5a36.da1f26","name":"Consultar DB","query":"","rawOutput":true,"precision":"ms","retentionPolicy":"","x":680,"y":200,"wires":[["2e267ab2.d589c6"]]},{"id":"7d5a7ce8.5aae04","type":"function","z":"7575feff.9ea748","name":"QUERY","func":"msg.query = \"SELECT DERIVATIVE(\\\"currentPress\\\", 1m) FROM status\";\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":200,"wires":[["7342ee4f.e1d53"]]},{"id":"f50f3658.59e098","type":"inject","z":"7575feff.9ea748","name":"","topic":"","payload":"","payloadType":"date","repeat":"900","crontab":"","once":true,"onceDelay":"0","x":280,"y":200,"wires":[["7d5a7ce8.5aae04"]]},{"id":"2e267ab2.d589c6","type":"function","z":"7575feff.9ea748","name":"Filtrar derivada","func":"var values = msg.payload.results[0].series[0].values;\n\nvar area = Math.pow(0.5, 2)*Math.PI;\nvar kg = 0.453592;\n\nvar data = [];\nvar aux = [];\n\n\nfor(var j = 0; j < values.length ; j++){\n    if(values[j][1] <= 0){\n        aux.push({x:values[j][0], y:values[j][1]*area*kg});\n    }\n}\ndata.push(aux);\n\n\nmsg.payload = data;\n\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":260,"wires":[["c54c82c2.874d98"]]},{"id":"c54c82c2.874d98","type":"function","z":"7575feff.9ea748","name":"Prep data","func":"var data =  msg.payload[0]\nvar arreglo = [];\n\nfor( var i = 0; i < data.length ; i++){\n    arreglo.push({\"measurement\":\"flow\", fields:{\"data\":data[i].y}, timestamp:data[i].x});\n}\n\nmsg.payload = arreglo;\n\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":260,"wires":[["4233a525.bb3d54"]]},{"id":"4233a525.bb3d54","type":"influxdb batch","z":"7575feff.9ea748","influxdb":"28cc5a36.da1f26","precision":"ms","retentionPolicy":"","name":"Guarda en DB flow","x":880,"y":260,"wires":[]},{"id":"1f9e42c5.548705","type":"influxdb in","z":"7575feff.9ea748","influxdb":"28cc5a36.da1f26","name":"Consultar DB","query":"SELECT integral(/derivative(\"currentPress\")*2/)  FROM status GROUP BY time(1h)","rawOutput":true,"precision":"ms","retentionPolicy":"","x":460,"y":700,"wires":[["53316267.da1fa4"]]},{"id":"53316267.da1fa4","type":"debug","z":"7575feff.9ea748","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":820,"y":700,"wires":[]},{"id":"91e95dd1.c8ef5","type":"inject","z":"7575feff.9ea748","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":290,"y":700,"wires":[["1f9e42c5.548705"]]},{"id":"edf74929.26cc8","type":"function","z":"7575feff.9ea748","name":"Verificar data","func":"if(Object.keys(msg.payload.results[0]).length > 1){\n    msg.payload = msg.payload.results[0].series[0].values[0][1];\n}\nelse{\n    msg.payload = null;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":780,"wires":[["53316267.da1fa4"]]},{"id":"558866ea.e9182","type":"influxdb in","z":"7575feff.9ea748","d":true,"influxdb":"28cc5a36.da1f26","name":"Consultar DB","query":"","rawOutput":true,"precision":"ms","retentionPolicy":"","x":760,"y":460,"wires":[["d6e38124.534d08","53316267.da1fa4"]]},{"id":"fb423e88.5d1f6","type":"ui_dropdown","z":"7575feff.9ea748","name":"","label":"Select period","tooltip":"","place":"","group":"5f099a12.d045cc","order":2,"width":0,"height":0,"passthru":false,"options":[{"label":"Hours","value":"1h","type":"str"},{"label":"Days","value":"1d","type":"str"},{"label":"Weeks","value":"1w","type":"str"},{"label":"Months","value":"30d","type":"str"}],"payload":"","topic":"","x":310,"y":460,"wires":[["2ac5f62f.721ada"]]},{"id":"2ac5f62f.721ada","type":"function","z":"7575feff.9ea748","name":"Select Periodo","func":"var periodCon = flow.get('periodCon') || \"1h\";\nif(typeof(msg.payload) != \"number\"){\n    periodCon = msg.payload;\n    flow.set('periodCon', periodCon);\n}\n\nmsg.query = \"SELECT integral(derivative(\\\"currentPress\\\") FROM status GROUP BY time(\" + periodCon + \")\";\n\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":460,"wires":[["558866ea.e9182"]]},{"id":"82d7e4d9.f903a","type":"inject","z":"7575feff.9ea748","name":"Cada 2 min","topic":"","payload":"","payloadType":"date","repeat":"120","crontab":"","once":true,"onceDelay":0.1,"x":300,"y":520,"wires":[["2ac5f62f.721ada"]]},{"id":"3066452e.30e31a","type":"function","z":"7575feff.9ea748","name":"mostrar data","func":"var values = msg.payload.data;\nvar numberDiv = msg.payload.numberDiv;\n\n// Variables Auxiliares\nconst monthNames = [\"Jan\", \"Feb\", \"Mar\", \"Apr\", \"May\", \"Jun\",\n  \"Jul\", \"Augt\", \"Sep\", \"Oct\", \"Nov\", \"Dec\"];\nvar timestamp;\n\nvar aux = [];\nvar data = [];\nvar labels = [];\n\nvar inf = values.length - numberDiv;\nvar sup = values.length;\nif (inf <= 0){\n    inf = 0;\n}\n\nfor(var period = inf; period < sup; period++){\n    aux.push(-values[period][1]);\n    timestamp = new Date(values[period][0]);\n    switch(numberDiv){\n        case 24:\n            labels.push(timestamp.getHours() + \":00\");\n            break;\n        case 7:\n            labels.push(timestamp.getDate() + \"/\" + monthNames[timestamp.getMonth()]);\n            break;\n        case 4:\n            labels.push((timestamp.getDate()+1) + \"/\" + monthNames[timestamp.getMonth()]);\n            break;\n        case 12:\n            labels.push(monthNames[timestamp.getMonth()]);\n            break;\n        default:\n            break;\n    }\n}\ndata.push(aux);\n\nmsg.payload = [{series:[\"A\"],data,labels}];\n\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":580,"wires":[["f0d7db85.95ad58"]]},{"id":"5f7de4f1.ca13f4","type":"function","z":"7575feff.9ea748","name":"Dividir data","func":"var periodCon = flow.get('periodCon') || \"1h\";\nvar data = msg.payload;\nvar numberDiv;\n\nswitch(periodCon){\n    case \"1h\":\n        numberDiv = 24;\n        break;\n    case \"1d\":\n        numberDiv = 7;\n        break;\n    case \"1w\":\n        numberDiv = 4;\n        break;\n    case \"30d\":\n        numberDiv = 12; //12 Meses\n        break;\n    default:\n        numberDiv = 0;\n        break;\n}\n\nmsg.payload = {data, numberDiv};\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":520,"wires":[["3066452e.30e31a"]]},{"id":"d6e38124.534d08","type":"function","z":"7575feff.9ea748","name":"Verificar data","func":"if(Object.keys(msg.payload.results[0]).length > 1){\n    msg.payload = msg.payload.results[0].series[0].values;\n}\nelse{\n    msg.payload = null;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":520,"wires":[["5f7de4f1.ca13f4"]]},{"id":"f0d7db85.95ad58","type":"ui_chart","z":"7575feff.9ea748","name":"","group":"5f099a12.d045cc","order":1,"width":0,"height":0,"label":"","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":720,"y":580,"wires":[[]]},{"id":"b367ef33.c0d68","type":"ui_text","z":"35eff90d.7e3136","group":"8677ec27.39c99","order":3,"width":0,"height":0,"name":"Total Failure","label":"","format":"{{msg.payload}}","layout":"col-center","x":630,"y":240,"wires":[]},{"id":"a3ca3e99.718ec8","type":"ui_text","z":"35eff90d.7e3136","group":"d3f96434.b74288","order":7,"width":"3","height":"1","name":"Fail Pump 1","label":"Fails","format":"{{msg.payload}}","layout":"row-spread","x":830,"y":40,"wires":[]},{"id":"965384c3.608e5","type":"ui_text","z":"35eff90d.7e3136","group":"d3f96434.b74288","order":8,"width":"3","height":"1","name":"Fail Pump 2","label":"Fails","format":"{{msg.payload}}","layout":"row-spread","x":830,"y":80,"wires":[]},{"id":"3ad3d181.e27a86","type":"ui_text","z":"35eff90d.7e3136","group":"d3f96434.b74288","order":5,"width":"3","height":"1","name":"","label":"Selector 1","format":"{{msg.payload}}","layout":"row-spread","x":1030,"y":80,"wires":[]},{"id":"74b17bf.83e4c84","type":"ui_text","z":"35eff90d.7e3136","group":"d3f96434.b74288","order":6,"width":"3","height":"1","name":"","label":"Selector 2","format":"{{msg.payload}}","layout":"row-spread","x":1030,"y":120,"wires":[]},{"id":"9e76c87.249b238","type":"ui_text","z":"35eff90d.7e3136","group":"d3f96434.b74288","order":3,"width":"3","height":"1","name":"Pump 1","label":"Pump 1","format":"{{msg.payload}}","layout":"row-spread","x":1020,"y":160,"wires":[]},{"id":"1b881a32.f176fe","type":"ui_text","z":"35eff90d.7e3136","group":"d3f96434.b74288","order":4,"width":"3","height":"1","name":"Pump 2","label":"Pump 2","format":"{{msg.payload}}","layout":"row-spread","x":1020,"y":200,"wires":[]},{"id":"ed82d264.bc1978","type":"influxdb in","z":"a1390874.1c5c3","influxdb":"28cc5a36.da1f26","name":"Consultar DB","query":"","rawOutput":true,"precision":"ms","retentionPolicy":"","x":640,"y":300,"wires":[["8e0b95ca.11eed8"]]},{"id":"550702a7.5705ec","type":"ui_dropdown","z":"a1390874.1c5c3","name":"","label":"Select period","tooltip":"","place":"","group":"4907654d.92638c","order":2,"width":0,"height":0,"passthru":false,"options":[{"label":"Hours","value":"24h","type":"str"},{"label":"Days","value":"7d","type":"str"},{"label":"Weeks","value":"4w","type":"str"},{"label":"Months","value":"365d","type":"str"}],"payload":"","topic":"","x":190,"y":280,"wires":[["ba63f267.849528"]]},{"id":"ba63f267.849528","type":"function","z":"a1390874.1c5c3","name":"Select Periodo","func":"var period = flow.get('period') || \"24h\";\nif(typeof(msg.payload) != \"number\"){\n    period = msg.payload;\n    flow.set('period',period);\n}\n\nmsg.query = \"SELECT * FROM Ciclos WHERE time > now() - \" + period;\n\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":300,"wires":[["ed82d264.bc1978"]]},{"id":"9dbcdff.7f514a","type":"inject","z":"a1390874.1c5c3","name":"Cada 2 min","topic":"","payload":"","payloadType":"date","repeat":"120","crontab":"","once":true,"onceDelay":0.1,"x":190,"y":320,"wires":[["ba63f267.849528"]]},{"id":"f3b3e96c.275a28","type":"ui_chart","z":"a1390874.1c5c3","name":"","group":"4907654d.92638c","order":1,"width":0,"height":0,"label":"","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":610,"y":420,"wires":[[]]},{"id":"e7f15317.32ae08","type":"function","z":"a1390874.1c5c3","name":"mostrar data","func":"var values = msg.payload.data;\nvar time = msg.payload.time;\nvar interval = msg.payload.interval;\nvar numberDiv = msg.payload.numberDiv;\n\n// Variables Auxiliares\nconst monthNames = [\"Jan\", \"Feb\", \"Mar\", \"Apr\", \"May\", \"Jun\",\n  \"Jul\", \"Augt\", \"Sep\", \"Oct\", \"Nov\", \"Dec\"];\nvar top;\nvar bottom;\nvar counter;\nvar cycleID;\nvar timestamp;\n\nvar aux = [];\nvar data = [];\nvar labels = [];\n\nfor(var period = numberDiv - 1; period >= 0; period--){\n    bottom = time - period*interval; //limite inferior\n    top = time + (-period + 1)*interval; //limite superior\n    counter = 0;\n    cycleID = \"\";\n    \n    for(var i=0; i < values.length ; i++){\n        timestamp = values[i][0];\n        if(timestamp >= bottom && timestamp < top){\n            if(cycleID != values[i][2]){\n                counter++;\n                cycleID = values[i][2];\n            }\n        }\n    }\n    \n    aux.push(counter);\n    bottom = new Date(bottom);\n    switch(numberDiv){\n        case 24:\n            labels.push(bottom.getHours() + \":00\");\n            break;\n        case 7:\n            labels.push(bottom.getDate() + \"/\" + monthNames[bottom.getMonth()]);\n            break;\n        case 4:\n            labels.push((bottom.getDate()+1) + \"/\" + monthNames[bottom.getMonth()]);\n            break;\n        case 12:\n            labels.push(monthNames[(bottom.getMonth()+1)%12]);\n            break;\n        default:\n            break;\n    }\n}\ndata.push(aux);\n\nmsg.payload = [{series:[\"A\"],data,labels}];\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":420,"wires":[["f3b3e96c.275a28"]]},{"id":"2b5f689d.894f9","type":"function","z":"a1390874.1c5c3","name":"Dividir data","func":"var period = flow.get('period') || \"24h\";\nvar data = msg.payload;\nvar time = new Date().getTime(); //time in millis\nvar interval;\nvar numberDiv;\n\nswitch(period){\n    case \"24h\":\n        interval = 3600000; //hour In Milis\n        numberDiv = 24;\n        break;\n    case \"7d\":\n        interval = 86400000; //day In Milis\n        numberDiv = 7;\n        break;\n    case \"4w\":\n        interval = 604800000; //week In Milis\n        numberDiv = 4;\n        break;\n    case \"365d\":\n        interval = 2628000000; //month In Milis\n        numberDiv = 12; //12 Meses\n        break;\n    default:\n        interval = null;\n        numberDiv = 0;\n        break;\n}\n\ntime = Math.floor(time/interval)*interval; //exact time \n\nmsg.payload = {data, time, interval, numberDiv};\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":360,"wires":[["e7f15317.32ae08"]]},{"id":"8e0b95ca.11eed8","type":"function","z":"a1390874.1c5c3","name":"Verificar data","func":"if(Object.keys(msg.payload.results[0]).length > 1){\n    msg.payload = msg.payload.results[0].series[0].values;\n}\nelse{\n    msg.payload = null;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":360,"wires":[["2b5f689d.894f9"]]},{"id":"b3c1e6b0.1afef","type":"mqtt in","z":"a1390874.1c5c3","name":"","topic":"30AEA4180928/monitor/cycle","qos":"0","datatype":"json","broker":"8475b52b.3a6c88","x":200,"y":520,"wires":[["853928b4.3ecf68"]]},{"id":"cfd3162.27fe868","type":"ui_chart","z":"a1390874.1c5c3","name":"","group":"36353101.b092d6","order":1,"width":0,"height":0,"label":"","chartType":"line","legend":"true","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"12","removeOlderPoints":"100","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":630,"y":740,"wires":[[]]},{"id":"bfb9d19d.cb9ef","type":"function","z":"a1390874.1c5c3","name":"Obtener datos","func":"var values = msg.payload.results[0].series[0].values;\nvar press;\nvar time;\nvar flow;\n\nvar data = [];\nvar aux = [];\n\nvar flow_data = [];\nvar aux_flow = [];\n\nvar pressAnt = 0;\nvar acumulate = 0;\nvar counter = 1;\n\nfor( var i = 0; i < values.length ; i++){\n    time = values[i][0];\n    press = values[i][1];\n    aux.push({x:time, y:press});\n    \n    if(press > pressAnt){\n        pressAnt = press;\n        flow = pump_curve(press);\n        acumulate += counter*0.250*flow/60;\n        aux_flow.push({x:time, y:flow});\n        counter = 1;\n    }\n    else{\n        counter++;\n    }\n}\ndata.push(aux);\nflow_data.push(aux_flow);\n\nvar chart = {payload:[{series:[\"Press (psi)\",\"Flow (L/min)\"],data:[aux, aux_flow],labels:[\"1\",\"2\"]}]};\nacumulate = {payload:acumulate.toFixed(2)};\n\nreturn [chart, acumulate];\n\n// Curva Caracteristica de la bomba\nfunction pump_curve(press){\n    var eq = -0.0088*Math.pow(press,3) + 1.447*Math.pow(press,2) - 82.004*press + 1744.5\n    if(eq > 0){\n        return eq;\n    }\n    else{\n        return 0;\n    }\n    \n}","outputs":2,"noerr":0,"x":440,"y":760,"wires":[["cfd3162.27fe868"],["3c1a0aaf.134486"]]},{"id":"853928b4.3ecf68","type":"function","z":"a1390874.1c5c3","name":"Obtener datos","func":"var cycle_data = msg.payload.cycle_data;\nvar frecuency = 250;\nvar id = msg.payload.id;\nvar pump = msg.payload.pump;\n\nvar totalTime = cycle_data.length*frecuency;\n\nvar startTime = (new Date().getTime()) - totalTime;\n\n\nvar measurement = \"Ciclos\"\n\nvar arreglo = [];\n\nfor( var i = 0; i < cycle_data.length ; i++){\n    arreglo.push({measurement, fields:{data:cycle_data[i]}, tags:{id, pump}, timestamp:(startTime + i*frecuency)});\n}\n\nmsg.payload = arreglo;\n\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":520,"wires":[["f624bff5.c824f8"]]},{"id":"f624bff5.c824f8","type":"influxdb batch","z":"a1390874.1c5c3","influxdb":"28cc5a36.da1f26","precision":"ms","retentionPolicy":"","name":"Guarda en DB Ciclos","x":660,"y":520,"wires":[]},{"id":"1ec758d4.58e8bf","type":"function","z":"a1390874.1c5c3","name":"Select Periodo","func":"msg.query = \"SELECT * FROM Ciclos\";\n\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":580,"wires":[["2432a07f.153178"]]},{"id":"2432a07f.153178","type":"influxdb in","z":"a1390874.1c5c3","influxdb":"28cc5a36.da1f26","name":"Consultar DB","query":"","rawOutput":true,"precision":"ms","retentionPolicy":"","x":640,"y":580,"wires":[["fe4736f0.d4b7e"]]},{"id":"5ce7faf8.fcd304","type":"ui_dropdown","z":"a1390874.1c5c3","name":"","label":"Select Cycle","tooltip":"","place":"","group":"36353101.b092d6","order":3,"width":0,"height":0,"passthru":false,"options":[],"payload":"","topic":"","x":630,"y":640,"wires":[["50a68e6a.dece68"]]},{"id":"fe4736f0.d4b7e","type":"function","z":"a1390874.1c5c3","name":"listar los ciclos","func":"var values = msg.payload.results[0].series[0].values;\nvar options = [];\nvar aux={};\nvar cycleID = \"\";\nvar id;\nconst locale = \"en-GB\";\nconst opt ={timeZone:'America/Caracas', month: 'short', day: '2-digit', hour: '2-digit', minute: '2-digit' };\n\nfor(var i=values.length - 1; i>=0; i--){\n    aux={};\n    if(cycleID != values[i][2]){\n        cycleID = values[i][2];\n        id = new Date(values[i][0]).toLocaleDateString(locale,opt);\n        aux[id]=cycleID;\n        options.push(aux);\n    }\n}\nmsg.payload = options;\nmsg.options = options;\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":640,"wires":[["5ce7faf8.fcd304"]]},{"id":"24b71256.f2d916","type":"inject","z":"a1390874.1c5c3","name":"Cada min","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":true,"onceDelay":0.1,"x":190,"y":580,"wires":[["1ec758d4.58e8bf"]]},{"id":"a2a11d5b.b16d28","type":"influxdb in","z":"a1390874.1c5c3","influxdb":"28cc5a36.da1f26","name":"Consultar DB","query":"","rawOutput":true,"precision":"ms","retentionPolicy":"","x":640,"y":700,"wires":[["bfb9d19d.cb9ef"]]},{"id":"50a68e6a.dece68","type":"function","z":"a1390874.1c5c3","name":"Select Periodo","func":"msg.query = \"SELECT * FROM Ciclos WHERE \\\"id\\\"='\" + msg.payload + \"'\";\n\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":700,"wires":[["a2a11d5b.b16d28"]]},{"id":"611d9841.d67cd8","type":"influxdb in","z":"a1390874.1c5c3","influxdb":"28cc5a36.da1f26","name":"Consultar DB","query":"","rawOutput":true,"precision":"ms","retentionPolicy":"","x":620,"y":140,"wires":[["68d99728.e0993"]]},{"id":"d6044a49.164458","type":"ui_dropdown","z":"a1390874.1c5c3","name":"","label":"Select period","tooltip":"","place":"","group":"eb1f98d4.80c97","order":2,"width":0,"height":0,"passthru":false,"options":[{"label":"Last 15 Min","value":"15m","type":"str"},{"label":"Last 30 Min","value":"30m","type":"str"},{"label":"Last 1 Hour","value":"1h","type":"str"},{"label":"Last 2 Hours","value":"2h","type":"str"},{"label":"Last 4 Hours","value":"4h","type":"str"},{"label":"Last 12 Hours","value":"12h","type":"str"},{"label":"Last 24 Hours","value":"24h","type":"str"},{"label":"Last week","value":"1w","type":"str"},{"label":"Last Month","value":"30d","type":"str"},{"label":"Specify Period","value":"specify","type":"str"}],"payload":"","topic":"","x":170,"y":140,"wires":[["15439676.153e6a","75050638.f5dab8"]]},{"id":"15439676.153e6a","type":"function","z":"a1390874.1c5c3","name":"Select Periodo","func":"var periodPress = flow.get('periodPress') || \"30m\";\n\nif(typeof(msg.payload) == \"string\"){\n    periodPress = msg.payload;\n    flow.set('periodPress',periodPress);\n}\n\nif (periodPress == \"specify\"){\n    var StartDate = flow.get('StartDate') || \"now()\";\n    var EndDate = flow.get('EndDate') || \"now()\";\n    msg.query = \"SELECT currentPress FROM status WHERE time > \" + StartDate + \" and time < \" + EndDate;\n}\nelse{\n    msg.query = \"SELECT currentPress FROM status WHERE time > now() - \" + periodPress;\n}\n\nmsg.payload = msg.query\n\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":140,"wires":[["611d9841.d67cd8"]]},{"id":"62ac7591.416f0c","type":"inject","z":"a1390874.1c5c3","name":"Cada min","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":true,"onceDelay":0.1,"x":170,"y":180,"wires":[["15439676.153e6a"]]},{"id":"12c66ef4.76c659","type":"ui_chart","z":"a1390874.1c5c3","name":"","group":"eb1f98d4.80c97","order":1,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":790,"y":200,"wires":[[]]},{"id":"68d99728.e0993","type":"function","z":"a1390874.1c5c3","name":"Verificar data","func":"if(Object.keys(msg.payload.results[0]).length > 1){\n    msg.payload = msg.payload.results[0].series[0].values;\n}\nelse{\n    msg.payload = null;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":200,"wires":[["39caab77.be8c9c"]]},{"id":"39caab77.be8c9c","type":"function","z":"a1390874.1c5c3","name":"Obtener datos","func":"var values = msg.payload\n\nvar data = [];\nvar aux = [];\nfor( var i = 0; i < values.length ; i++){\n    aux.push({x:values[i][0], y:values[i][1]});\n}\ndata.push(aux);\n\nmsg.payload = [{series:[\"Press\"],data,labels:[values[0][2]]}];\n\n\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":200,"wires":[["12c66ef4.76c659"]]},{"id":"932a6c2d.36ad2","type":"ui_form","z":"a1390874.1c5c3","name":"","label":"yyyy-mm-dd hh:mm:ss","group":"b45e60da.990578","order":2,"width":"0","height":"0","options":[{"label":"Start Date","value":"StartDate","type":"text","required":true,"rows":null},{"label":"End Date","value":"EndDate","type":"text","required":true,"rows":null}],"formValue":{"StartDate":"","EndDate":""},"payload":"","submit":"Send","cancel":"","topic":"","x":420,"y":80,"wires":[["81eed50c.12bbf8"]]},{"id":"52bb593e.783b08","type":"ui_ui_control","z":"a1390874.1c5c3","name":"","events":"all","x":640,"y":40,"wires":[[]]},{"id":"75050638.f5dab8","type":"function","z":"a1390874.1c5c3","name":"show/hide specify period","func":"if(msg.payload == \"specify\"){\n    msg.payload = {\"group\": {\"show\": [\"Data_Specify_a_period\"]}};\n}\nelse{\n    msg.payload = {\"group\": {\"hide\": [\"Data_Specify_a_period\"]}};\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":40,"wires":[["52bb593e.783b08"]]},{"id":"81eed50c.12bbf8","type":"function","z":"a1390874.1c5c3","name":"Save period","func":"var StartDate = msg.payload.StartDate;\nvar EndDate = msg.payload.EndDate;\n\nif (StartDate.startsWith(\"20\")){\n    StartDate = \"'\" + StartDate + \"'\";\n}\nif (EndDate.startsWith(\"20\")){\n    EndDate = \"'\" + EndDate + \"'\";\n}\n\nflow.set('StartDate', StartDate);\nflow.set('EndDate', EndDate);\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":80,"wires":[["15439676.153e6a"]]},{"id":"3c1a0aaf.134486","type":"ui_text","z":"a1390874.1c5c3","group":"36353101.b092d6","order":2,"width":"6","height":"1","name":"","label":"Approx. Volume: ","format":"{{msg.payload}} L","layout":"row-spread","x":660,"y":780,"wires":[]}]